@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}

@layer components {

  .btn {
    @apply rounded-md flex items-center justify-center gap-2 transition duration-300
  }

  .btn-primery {
    @apply py-3 px-7 bg-black text-white text-base/[130%] hover:bg-sky-500
  }

  .btn-secondary {
    @apply text-sm font-semibold p-1.5 md:py-2.5 md:px-6 bg-gray-200 hover:bg-gray-300
  }

  .section__heading {
    @apply flex flex-col items-center justify-center text-center
  }

  .section__heading h2 {
    @apply text-4xl font-bold text-black
  }

  .section__heading p {
    @apply text-sm text-gray-500 mt-2
  }

  .item-border {
    @apply bg-white border border-gray-200 
  }

  /* categories */
  .categories__item {
    @apply relative item-border rounded-xl pr-3 pl-11 py-[22px] flex items-center justify-end gap-6 shadow-md w-[336px] cursor-pointer
  }

  .categories__item--img {
    @apply absolute top-[50%] -left-9 -translate-y-[50%] w-16 h-16 item-border rounded-xl flex items-center justify-center shadow-md
  }

  .categories__item--info {
    @apply flex flex-col flex-grow gap-1
  }

  .categories__item--info h4 {
    @apply text-base/[119%] font-semibold
  }
  .categories__item--info p {
    @apply text-sm text-gray-300
  }

  /* product card */
  .product-card {
    @apply relative bg-white border-2 border-white rounded-xl overflow-hidden cursor-pointer hover:shadow-md transition duration-300
  }
  .product-card:hover .product-card__info-name {
    @apply text-blue-400
  }

  .product-card button {
    @apply absolute top-4 left-4 w-10 h-10
  }

  .product-card button img {
    @apply w-full h-full
  }

  .product-card-img {
    @apply w-full h-60
  }

  .product-card__info {
    @apply p-5 flex flex-col items-start
  }

  .product-card__info-city {
    @apply text-xs text-gray-600 py-1 px-2 bg-gray-200 rounded-md
  }

  .product-card__info-name {
    @apply text-lg/[130%] flex-grow font-semibold mt-4 text-ellipsis overflow-hidden transition duration-300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .product-card__info-date {
    @apply text-sm text-gray-300 mt-2
  }

  .product-card__info-phone {
    @apply text-base/[130%] text-gray-400 font-semibold mt-2
  }

  .product-card__info-price {
    @apply text-2xl/[130%] font-bold flex items-center gap-2 mt-4 
  }
  .product-card__info-price span {
    @apply text-base text-blue-400
  }

  /* single product */
  .product {
    @apply flex flex-col gap-4 w-full max-w-[882px];
  }
  .product__slider,
  .product__info,
  .product__vendor {
    @apply p-4 bg-white rounded-2xl
  }

  .product__slider-img {
    @apply relative h-[481px] rounded-2xl overflow-hidden
  }

  .product__slider-slides {
    @apply mt-5 relative flex items-center gap-3 overflow-x-scroll;
  }

  .product__slider-slides::-webkit-scrollbar {
    display: none;
  }

  .product__slider-btn {
    @apply absolute top-[50%] -translate-y-[50%] w-8 h-8 flex items-center justify-center rounded-full cursor-pointer bg-white hover:bg-blue-400
  }
  
  .product__slider-slides::before,
  .product__slider-slides::after {
    @apply absolute z-10 top-[50%] left-0 -translate-y-[50%];
    background: linear-gradient(90deg, #FFF -2.33%, rgba(255, 255, 255, 0.00) 100%);
  }

  .product__slider-slides::after {
    @apply right-0;
    background: linear-gradient(270deg, #FFF -2.33%, rgba(255, 255, 255, 0.00) 100%);
  }

  .product__slider-slides img {
    @apply w-[110px] h-16 rounded-lg border border-slate-300
  }

  .product__slider-info__category {
    @apply flex items-center gap-2
  }

  .product__slider-info__category p {
    @apply text-sm text-gray-300
  }

  .product__slider-info__category span {
    @apply w-2 h-2 rounded-full bg-blue-400
  }

  .product__slider-info h3 {
    @apply text-xl text-black font-bold mt-2
  }

  .product__slider-info__tabs {
    @apply flex items-center gap-4 mt-4
  }

  .product__slider-info__tabs span {
    @apply py-1 px-2 rounded-md bg-gray-300 text-sm text-gray-500
  }

  .product__slider-price {
    @apply flex items-end justify-between mt-6
  }
  
  .product__slider-price p {
    @apply flex items-end gap-2 text-[28px] leading-9 text-black font-bold
  }

  .product__slider-price button {
    @apply py-[10px] px-7 rounded-lg bg-blue-500 hover:bg-blue-600 transition duration-300 flex items-center gap-2 text-sm text-white
  }
  
  .product__info,
  .product__vendor {
    @apply flex flex-col gap-3
  }

  .product__info h3,
  .product__vendor h3 {
    @apply text-2xl text-black font-bold
  }

  .product__info p {
    @apply text-base text-black
  }

  .product__vendor-contacts {
    @apply flex items-end justify-between flex-wrap gap-y-2
  }

  .product__vendor-contacts a {
    @apply text-base text-black font-semibold
  }

  .product__vendor-contacts__info {
    @apply h-12 flex flex-col flex-wrap gap-x-4 gap-y-[2px]
  }

  .product__vendor-contacts__info img {
    @apply w-12 h-full rounded-lg
  }

  .product__vendor-contacts__info h4 {
    @apply text-base text-black font-semibold
  }

  .product__vendor-contacts__info span {
    @apply text-xs text-gray-400 mt-0.5
  }

  /* aside vendors */
  aside .product__vendor {
    @apply items-stretch p-4 gap-4
  }

  aside .product__vendor-contacts {
    @apply flex-col items-stretch 
  }

  aside .product__vendor-contacts__info {
    @apply h-10 gap-x-3
  }

  aside .product__vendor-contacts__info img {
    @apply w-10
  }
}