@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}

@layer components {

  .btn {
    @apply rounded-md flex items-center gap-2 transition duration-300
  }

  .btn-primery {
    @apply py-3 px-7 bg-black text-white text-base/[130%] hover:bg-sky-500
  }

  .btn-secondary {
    @apply text-sm font-semibold p-1.5 md:py-2.5 md:px-6 bg-gray-200 hover:bg-gray-300
  }

  .section__heading {
    @apply flex flex-col items-center justify-center text-center
  }

  .section__heading h2 {
    @apply text-4xl font-bold text-black
  }

  .section__heading p {
    @apply text-sm text-gray-500 mt-2
  }

  .item-border {
    @apply bg-white border border-gray-200 
  }

  /* categories */
  .categories__item {
    @apply relative item-border rounded-xl pr-3 pl-11 py-[22px] flex items-center justify-end gap-6 shadow-md w-[336px] cursor-pointer
  }

  .categories__item--img {
    @apply absolute top-[50%] -left-9 -translate-y-[50%] w-16 h-16 item-border rounded-xl flex items-center justify-center shadow-md
  }

  .categories__item--info {
    @apply flex flex-col flex-grow gap-1
  }

  .categories__item--info h4 {
    @apply text-base/[119%] font-semibold
  }
  .categories__item--info p {
    @apply text-sm text-gray-300
  }

  /* product card */
  .product-card {
    @apply relative bg-white border-2 border-white rounded-xl overflow-hidden cursor-pointer hover:shadow-md transition duration-300
  }
  .product-card:hover .product-card__info-name {
    @apply text-blue-400
  }

  .product-card button {
    @apply absolute top-4 left-4 w-10 h-10
  }

  .product-card button img {
    @apply w-full h-full
  }

  .product-card-img {
    @apply w-full h-60
  }

  .product-card__info {
    @apply p-5 flex flex-col items-start
  }

  .product-card__info-city {
    @apply text-xs text-gray-600 py-1 px-2 bg-gray-200 rounded-md
  }

  .product-card__info-name {
    @apply text-lg/[130%] flex-grow font-semibold mt-4 text-ellipsis overflow-hidden transition duration-300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .product-card__info-date {
    @apply text-sm text-gray-300 mt-2
  }

  .product-card__info-phone {
    @apply text-base/[130%] text-gray-400 font-semibold mt-2
  }

  .product-card__info-price {
    @apply text-2xl/[130%] font-bold flex items-center gap-2 mt-4 
  }
  .product-card__info-price span {
    @apply text-base text-blue-400
  }
}